<meta http-equiv="refresh" content="100">

<link rel="stylesheet" href="/css/seletores.css">

<div class="seletores-container">
    <input type="radio" name="seletores-rota" id="tabela" onclick="getSelectedRoute()">
    <label for="tabela">Tabela</label>
    <input type="radio" name="seletores-rota" id="artilheiros" onclick="getSelectedRoute()">
    <label for="artilheiros">Artilheiros</label>
    <input type="radio" name="seletores-rota" id="rodadas" onclick="getSelectedRoute()">
    <label for="rodadas">Rodadas</label>
</div>

<div id="formularios"></div>

<script src="/js/seletores.js"></script> 