.tabela-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 2.2em;
    color: #0077B6;
}

table {
    font-family: 'Poppins', sans-serif;
    background-color: #F5F5F5;
    margin-bottom: 50px;
    border-bottom: solid 5px #0077B6;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.08);
}

tr, td, th {
    padding: 13px;
}

th {
    background-color: #0077B6;
    color: #ffffff;
}

.first-th {
    border-top-left-radius: 20px;
}

.last-th {
    border-top-right-radius: 20px;

}

tr:hover{
    background-color: #D3D3D3;
    cursor: pointer;
}


.linha-escudo-time {
    display: flex;
    align-items: center;
    justify-content: left;
}

.escudo {
    max-width: 26px;
    margin-right: 10px;
}
